*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    height: 100%;
}

/*HEADER*/
.container-title{
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}

.container-title img{
    padding: 10px 20px 10px 0;
}

.menu{
    list-style-type: none;
    border-bottom: 1px solid lightgray;
}

.menu li{
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    
    
}

li:first-child {
    margin-left: 5px;
}

li:hover{
    color: blue;
    border-bottom: 2px solid blue;
}

/*MAIN*/
.container-main{
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
}

.container-main p{
    margin-top: 15px;
    margin-bottom: 40px;
}

.container-main a{
    text-decoration: none;
}
br{
    content: "";
    margin: 20px;
    display: block;
    font-size: 24%;
}